--extra-index-url https://download.pytorch.org/whl/cu128

accelerate == 1.7.0
onnx == 1.18.0
onnxruntime-gpu==1.22.0
torch==2.7.0+cu128
torchvision==0.12.0+cu128
optimum==1.25.3
opencv-python==4.11.0.86
transformers==4.51.3
diffusers==0.33.1
timm
numpy==1.26.4
nvidia-cuda-runtime-cu12==12.9.37